*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root{

  font-size: 62.5%;

  --hue:195;
  --color-base: hsla(0, 0%, 100%, 0.2);
  --color-base2: hsl(var(--hue), 46%, 40%);
  --color-base3: hsl(0, 0%, 100%);
  --color-base4: hsl(240, 6%, 13%);
  --color-base5: hsl(240, 5%, 7%);
  --color-base6: hsl(0, 0%, 89%);
}

body{
  font-family: 'Mulish', sans-serif;
  height: 188rem;
  
}

#app{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  
  
}

.container{
  margin: 0 auto;
  
}


.perfil{
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
}


header{
 
  width: 100%;
  height: 7.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 2.8rem;
  background: var(--color-base2);
  animation: move .2s;
  --StartY: -100%;
}

.header-cont{
  display: flex;
}

header .logo{
  width: 4rem;
  height: 4rem;
}


.input-wrapper {
  width: 100%;
  margin-inline: 2.25rem;
  
}

.input-wrapper input{
  width: 21.1rem;
  height: 4rem;
  border-radius: 4px;
  border: 0;
  background: var(--color-base);
  padding: 0.9rem;
  color: var(--color-base3);
  
  
}

.input-wrapper input::placeholder{
  color: var(--color-base);
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; 
  
}


main{
  margin: 0 auto;
  
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 43rem;
  height: 176.3rem;
  background: var(--color-base3);
  
}


main img{
  
  object-fit: cover;
  width: 42.9rem;
  height: 21.9rem;
  align-items: center;
}

main h1{
  color: var(--color-base4)s;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 3.1rem 2.2rem .8rem;
}

main .icon-main{
  display: flex;
  color: var(--color-base2);
  
}


button {
  
  background: var(--color-base2);
  display: flex ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 1.2rem 3.1rem 2.2rem ;
  border: 0;
  cursor: pointer;
}

button img{
  width: 1.6rem;
  height: 1.6rem;
  margin: 1.2rem;
  color: var(--color-base2);
  
}


.cont-main p{
  color: var(--color-base5);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  width: 38.2rem;
  margin: 0 2.6rem 3.4rem 2.2rem;
  
}
.sidebar{
  height: 55.6rem;
}

.sidebar h1{
  color: var(--color-base4);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  
}

.card{
  display: flex;
  align-items: center;

}

.card img{
  width: 15.1rem;
  height: 8.4rem;
  margin-left: 2.2rem;
}

.card-info{
  margin-left: 1.6rem;
  width: 21.7rem;
  
}

.card-info h3{
  color: var(--color-base4);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; 
}

.card-info p{
  color: var(--color-base5);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
}
footer{
  width: 43rem;
  animation: move .2s;
  --StartY: 100%;
  
  
  
}
footer p{
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
  background: var(--color-base2);
  
  
}


@keyframes move{
  from {
    transform: translateY(var(--StartY));
  }
}

.cont-main img, .card{
  --delay: .4s;
  animation: appear .4s var(--delay) backwards;
}

button{
  animation: rotate .4s 1s backwards;
}
@keyframes appear{
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}


@keyframes rotate{
  0%{
    transform: rotate(360deg);
    transform-origin: center;
  }
}



@media (min-width: 768px){
  .header-cont{
    display: flex;
    margin: auto;
  }
}

@media (min-width: 1120px){
  
  body{
    width: 192rem; 
    height:100rem; 
  }


  #app{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    
    
    margin: 0 ;
    
  }

  header{
    width:  100%; 
    
    background: var(--color-base2);
    padding: 1.2rem 0;
    justify-items: center;
    align-items: center;
    margin: auto;
  }
  .header-cont{
    display: flex;
    margin: auto;
  }
  .input-wrapper input{
    width:108.3rem; 
  }

  
  
  

  main{
    
    width: 144rem;
    height: 95.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4.4rem 11.2rem;
    margin: 0;
    
  }

  .cont-main{
    width: 80rem;
    
    
  }
  .cont-main #img-main{
    width: 100%;
    height: 377px;
    
  }

  .cont-main h1{
    color: var(--color-base4);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin:  0;
    
    width: 87%;
    float: left;
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
    
  }
  
  .icon-main{
    
    width: 12%;
    float: right;
    margin:  0;
  }
  
  
  button {

    border-radius: 50%;
    float: right; 
    margin-left: .1rem;
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
    cursor: pointer;
  }
  
  button img{
    width: 1.6rem;
    height: 1.6rem;
    margin: 1.2rem;
    
  }
  .cont-main p{
    color: var(--color-base5);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 80rem;
    margin: 4.0rem 0;
    
  }
  .sidebar{
    width: 38.4rem;
    background: var(--color-base3);
    
    margin-left:3.4rem;
    padding: 0;
  }

  .sidebar h1{
    color: var(--color-base4);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    
    margin: 0;
    
  }
  
  .sidebar .card{
    width: 38.2rem;
    display: flex;
    align-items: center;
    
  
  }
  
  .card img{
    width: 15.1rem;
    height: 8.4rem;
    margin: 0;
    
  }
  
  .card-info{
    
    width: 21.5rem;
    
  }
  
  .card-info h3{
    color: var(--color-base4);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; 
  }
  
  .card-info p{
    color: var(--color-base5);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
  }

  

  footer{
    width: 192rem;
    
    align-items: center;
    margin: 0;
  }


  

}


